p {
    border: 1px solid red;
}
h1,h2,h3,h4,h5,h6 {
    border: 1px solid green;
}
img {
    border: 1px solid blue;
}
span {
    border: 1px solid orange;
}
div {
    border: 1px solid purple;
}
a {
    border: 1px solid yellow;
}
