/* Page Footer */
#page-footer {
    background-color: #000000;
    padding: 45px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Page Footer Content */
#page-footer > .page-footer-content {
    font-size: 12pt;
    color: #FFFFFF;
    display: inline;
    white-space: nowrap;
    margin: 10px 30px;
}


/* Page Header */
#page-header {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 8px 12px;
}

/* Page Header Content */
#page-header > .page-header-content {
    
}


/* Round Image */
img.round-image {
    border-radius: 50%;
}


/* Hidden */
.hidden {
    opacity: 0;
    position: absolute;
    transition: opacity 0s;
    pointer-events: none;
    overflow: hidden;
    height: 0;
    width: 0;
    margin-left: -9999px;
}

/* Unide Transitions */
.unhide-transition-0-5s {
    transition: opacity 0.5s;
}
.unhide-transition-1-0s {
    transition: opacity 1.0s;
}
.unhide-transition-1-5s {
    transition: opacity 1.5s;
}
.unhide-transition-2-0s {
    transition: opacity 2.0s;
}
